{% set pos = 1 %}


{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if pos == 0 %}
      <div class="container">
      <div class="row">
        <div class="{{ css }}">
          {{ content.field_image_1}}
        </div>
        <div class="{{ css }}" style="background-color:{{ content.field_bg_color.0 }};">
          {{ content.field_image_text }}

        </div>
        </div>
      </div>
    {% endif %}
    {% if pos == 1 %}
      <div class="container-fluid">
       <div class="row p-md-5">
         <div class="col-lg-8 p-md-5 p-sm-2">
           {{ content.field_news_collection_view }}
         </div>
         <div class="col-lg-4 p-md-5 p-sm-2 bg-mute">
           <div class="p-5 bg-light">
             <h5 class="font-weight-bold mb-3"><span class="">Contact</span> Us</h5>
             {{ content.field_news_collection_block }}
           </div>
         </div>
       </div>
      </div>
    {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
